.contenedor {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 100px auto;
}
.cabeza{
    width: 90%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1vw;
    margin: 3vw;
    background-color: #ACF6C8;
    height: 8vw;
    border-radius: 2vw;
    border: rgb(110, 107, 107) solid 1PX;
    
    
}
H1{
    font-size: 5VW;
    font-family:cursive;
    color: #b555d2;
    margin: 0;
}

#rama {
    width: 15px;
    height: 250px;
    border-radius: 50% 15% 10% 10%;
    background-color: #1e7e26;
    position: absolute;
    top: 30px;
    left: 68px;
    display: none;
    border: rgb(110, 107, 107) solid 1PX;
}
#center {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #C8A2C8;
    position: absolute;
    top: 25px;
    left: 25px;
    border: rgb(110, 107, 107) solid 1PX;
    display: none;

}

#petal1 {
    width: 80px;
    height: 80px;
    border-radius: 60% 10%;
    background-color: #ACF6C8;
    position: absolute;
    top: 50px;
    left: -60px;
    transform: rotate(35deg);
    display: none;
    border: rgb(110, 107, 107) solid 1PX;
}

#petal3 {
    width: 80px;
    height: 80px;
    border-radius: 60% 10%;
    background-color: #ACF6C8;
    position: absolute;
    top: -60px;
    left: 33px;
    transform: rotate(134deg);
    display: none;
    border: rgb(110, 107, 107) solid 1PX;
}

#petal4 {
    
    width: 80px;
    height: 80px;
    border-radius: 60% 10%;
    background-color: #ACF6C8;
    position: absolute;
    top: -29px;
    left: 105px;
    transform: rotate(3deg);
    display: none;
    border: rgb(110, 107, 107) solid 1PX;
}
#petal2 {
    width: 80px;
    height: 80px;
    border-radius: 60% 10%;
    background-color: #ACF6C8;
    position: absolute;
    top: -24px;
    left: -37px;
    transform: rotate(265deg);
    display: none;
    border: rgb(110, 107, 107) solid 1PX;
    
}

p{
    padding: 2vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
    color:#b555d2;
    text-align: justify;
}





